---
title: General Contractor in Sacermento CA | Westfork Construction
---

<div class="hero">
  <div class="overlay"></div>
  <div class="container">
    <%= image_tag 'logo.png' %>
    <h2 class="styled">We Build Better</h2>
    <h4 class="styled">Test ipsum dolor sit amet, consectetur adipisicing elit. Aperiam odit quos reiciendis. Enim, asperiores, minima.</h4>
  </div>
</div>
<div class="l-home-splash">
  <div class="row">
    <div class="columns four">
      <h5>Projects</h5>
      <ul class="slid">
        <a href="projects.html#Apartments">
          <li>Apartment</li>
        </a>
        <a href="projects.html#Apartments">
          <li>Medical</li>
        </a>
        <a href="projects.html#Apartments">
          <li>Commercial</li>
        </a>
        <a href="projects.html#Apartments">
          <li>New Projects</li>
        </a>
        <a style="color:white;margin-top:20px" class="button" href="projects.html">view all</a>
      </ul>
    </div>
    <div class="columns eight">
      <div class="wrapper">
        <ul class="slider">
          <li><%= image_tag '16th6.jpg' %></li>
          <li><%= image_tag '65th4.jpg' %></li>
          <li><%= image_tag 'green4.jpg' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="banner green">
  <h2>Construction Services</h2>
</div>
<div style="width:70%" class="window container row home-services">
  <div class="columns four">
    <h2 class="styled text-center orange">#1</h2>
    <h3 class="styled text-center">Pre Construction</h3>
    <p>We work closely with the owners, architects, and trade contractors to assist and improve on the project design and construction through integrated project delivery (IPD) process. With a collaborative team effort we believe we provide our clients with reduce project cost and expedite schedules during construction.</p>
  </div>
  <div class="columns four">
    <h2 class="styled text-center orange">#2</h2>
    <h3 class="styled text-center">During Construction</h3>
    <p>We use different systems and practices such as “Lean Construction” practices to manage our projects and work closely with Trade Contractors to avoid conflicts, save cost and shorten the construction period. These practices include maintaining schedules, coordination, communication and management oversight.</p>
  </div>
  <div class="columns four">
    <h2 class="styled text-center orange">#3</h2>
    <h3 class="styled text-center">Post Construction</h3>
    <p>The end of construction is not the end of our relationship. We continue to serve our Owners to make sure all aspects of our project are satisfied and meet our client expectations. We believe that our post construction services are the bridge to our next project. </p>
  </div>
  <div class="columns twelve">
    <a href="services.html" class="learn text-center">More <i class="fa fa-chevron-right"></i></a>
  </div>
</div>
<div class="window black home-about">
  <div class="container row">
    <div class="columns six">
      <%= image_tag 'example.jpg' %>
    </div>
    <div class="columns six">
      <div class="row">
        <h2 class="light">
              About us
            </h2>
        <a style="color:white;" href="about.html" class="learn">More <i class="fa fa-chevron-right"></i></a>
      </div>
      <p>
        Westfork Construction has been specializing in negotiated, design/build projects since 1995. Our long list of diverse projects include: retail, commercial office, mixed-use, multi-family and healthcare buildings ranging from
        <$1m to $25M+. With an honest, collaborative and straight-forward approach we are committed to building long term relationships with our clients. </p>
          <a class="button" href="team.html">Management Team</a>
          <a class="button" href="careers.html">Careers</a>
    </div>
  </div>
</div>
<script type="text/javascript">
$(function() {
  $(window).scroll(function(event) {
    var scroll = $(window).scrollTop();
    var heroScroll = $('.hero').scrollTop() + $('.hero').height() - 200;

    if (scroll >= heroScroll) {
      $('nav').removeClass('trans');
    } else {
      $('nav').addClass('trans');
    }
  });
});
</script>
