---
title: <%= project.title %> | Westfork Construction
---

<div class="window black">
  <div class="container">
    <h1><%= project.title %></h1>
  </div>
</div>
<div class="container row window">
  <div class="columns four projects-images">
    <% unless project.images.blank? %>
      <% project.images.each do |i| %>
        <% link_to i do %>
          <%= image_tag '../images/{i}' %>
        <% end %>
      <% end %>
    <% else %>
      <p>No images</p>
    <% end %>
  </div>
  <div class="columns eight">
    <h4 class="header-margin"><%= project.title %></h4>
    <% unless project.address.blank? %>
      <h6 class="orange"><%= project.address %></h6>
    <% end %>
    <% unless project.description.blank? %>
      <p>
        <%= project.description %>
      </p>
    <% else %>
      <p>No description</p>
    <% end %>
  </div>
</div>
