---
title: <%= project.title %> | Westfork Construction
---

<!-- 
  GENERATED FROM projectddata.yml IN /data
-->

<div class="window black">
  <div class="container">
    <h1><%= project.title %></h1>
  </div>
</div>
<div class="container row window">
  <div class="columns four projects-images">
    <% unless project.images.blank? %>
      <% project.images.each do |i| %>
        <a href="images/<%=i%>">
          <img src="images/<%=i%>">
        </a>
      <% end %>
    <% else %>
      <p>No images</p>
    <% end %>
  </div>
  <div class="columns eight">
    <h4 class="header-margin"><%= project.title %></h4>
    <% unless project.address.blank? %>
      <h6 class="orange"><%= project.address %></h6>
    <% end %>
    <% unless project.description.blank? %>
      <p>
        <%= project.description %>
      </p>
    <% else %>
      <p>No description</p>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.projects-images').magnificPopup({
      delegate: 'a', // child items selector, by clicking on it popup will open
      type: 'image',
      gallery: {
          // options for gallery
          enabled: true
        },
    });
  });
</script>
